Chapter 2: Basic Programming: Data Types
-----------------------------

## Numeric (int , complex  , float) + Boolean

In [3]:
x = 10   # Integer
y = -5   # Negative Integer

In [5]:
a = 3.14   # Float
b = 2.5e3  # Scientific notation (2500.0)

In [7]:
z = 2 + 3j   # Complex number (real: 2, imaginary: 3j)
print(z.real)  # Output: 2.0
print(z.imag)  # Output: 3.0

2.0
3.0

In [9]:
print(int(3.9))   # Output: 3 (removes decimal part)
print(int(True))  # Output: 1
print(int(False)) # Output: 0

3
1
0

In [11]:
#1. Integer (int) Conversions
#Convert float or bool to int:
print(int(3.9))   # Output: 3 (removes decimal part)
print(int(True))  # Output: 1
print(int(False)) # Output: 0

3
1
0

In [13]:
#2. Float (float) Conversions
#Convert int or bool to float:
print(float(7))   # Output: 7.0
print(float(True))  # Output: 1.0
print(float(False)) # Output: 0.0

7.0
1.0
0.0

In [15]:
#3. Complex (complex) Conversions
#Convert int or float to complex:
print(complex(4))     # Output: (4+0j)
print(complex(3.5))   # Output: (3.5+0j)

(4+0j)
(3.5+0j)

In [17]:
#4. Boolean (bool) Conversions
#Convert numbers to bool:
print(bool(0))    # Output: False (Only 0 is False)
print(bool(10))   # Output: True
print(bool(-3.5)) # Output: True

False
True
True

In [19]:
#Practical Example: Checking if a Temperature is Freezing
temperature = -5.4  # Celsius
is_freezing = bool(temperature < 0)  # Convert comparison result to boolean
print(is_freezing)  # Output: True

True

In [21]:
#Practical Example: Converting User Input to Numeric Type
user_input = "42"
num = int(user_input)  # Convert string to integer
print(num * 2)  # Output: 84

84

## Strings

In [26]:
"A single quote (’) inside a double quote"
'Here we have "double quotes" inside single quotes'

'Here we have "double quotes" inside single quotes'

In [28]:
"Mixing quotes leads to the dark side'
#error

SyntaxError: unterminated string literal (detected at line 1) (3723981634.py, line 1)

In [30]:
#new line with \n
print("Hi! I'm a\nmultiline\nstring")

Hi! I'm a
multiline
string

**Strings are sequences of Unicode characters**

In [33]:
'In Python 3, strings are Unicode: こんにちは 世界'

'In Python 3, strings are Unicode: こんにちは 世界'

In [35]:
"فارسی قابل فهم برای پایتون است"

'فارسی قابل فهم برای پایتون است'

- Strings are immutable in Python.
- You cannot modify a string directly, but you can create a derived string
- Original string remains unchanged unless reassigned.

### String Methods in Python

#### 1- lower

In [20]:
signal_peptide = 'MASKATLLLAFTLLFATCIA'
signal_peptide.lower()

'maskatlllaftllfatcia'

In [22]:
signal_peptide

'MASKATLLLAFTLLFATCIA'

In [24]:
signal_peptide = signal_peptide.lower()
signal_peptide

'maskatlllaftllfatcia'

In [26]:
seq = "ACGTACGT"
print(seq.lower())  
# Output: "acgtacgt"

acgtacgt

#### 2- upper()

In [29]:
seq = "acgtacgt"
print(seq.upper())  
# Output: "ACGTACGT"

ACGTACGT

### 3- strip()

In [32]:
dna_seq = "   ACGTACGT   "
print(dna_seq.strip())  
# Output: "ACGTACGT"

ACGTACGT

### 4- replace()

In [35]:

dna_seq = 'GCTAGTAATGTG'
m_rna_seq = dna_seq.replace('T','U')
m_rna_seq

'GCUAGUAAUGUG'

In [37]:
dna_seq = 'GCTAGTAATGTG'
m_rna_seq = dna_seq.replace('T','U', 2)
m_rna_seq
#output: GCUAGUAATGTG

'GCUAGUAATGTG'

In [39]:
dna_seq

'GCTAGTAATGTG'

### 5- count()

In [42]:
c = dna_seq.count("C")
g = dna_seq.count("G")
(c+g)/len(dna_seq)*100

41.66666666666667

In [44]:
m_rna_seq

'GCUAGUAATGTG'

In [46]:
dna_seq = 'GCTAGTAATGTG'
gc_content = (dna_seq.count('C') + dna_seq.count('G')) / len(dna_seq) * 100
print(f'GC Content: {gc_content:.2f}%')  # Output: 41.67%

GC Content: 41.67%

In [48]:
dna_seq = 'GCTAGTAATGTG'
g_count = dna_seq.count('G')
print(g_count)  # output:4

4

In [50]:
g_count_partial = dna_seq.count('G', 3, 10)
print(g_count_partial)  # output : 2

2

### 6- find()

In [53]:
m_rna_seq.find('AUG')

-1

In [55]:
m_rna_seq.find('GGG')

-1

In [57]:
m_rna_seq = 'GCUAGUAAUGUG'
pos = m_rna_seq.find('AUG')
print(pos)  # output: 7

7

In [59]:
m_rna_seq = 'GCUAGUAAUGUG'

pos_limited = m_rna_seq.find('AUG', 5) #start the search from index 5.
print(pos_limited)

7

In [61]:
pos_range = m_rna_seq.find('AUG', 3, 8)
print(pos_range)  # Output: -1 (because it does not exist in this range)

-1

### 7- index

In [64]:
dna_seq = "GCTAGTAATGTG"
pos = dna_seq.index("T", 3, 10)
print(pos)  # Output: 5

5

In [66]:
sequence = "GCTAGTAATGTG"
pos = sequence.index("CCC")  # Raises ValueError

ValueError: substring not found

In [76]:
sequence = "GCTAGTAATGTG"
pos = sequence.index("T")
pos

2

In [78]:
sequence = "GCTAGTAATGTG"
pos = sequence.index("GTG")
pos

9

### 8- split

In [70]:
text = 'This string has words separated by spaces'
words = text.split()
print(words)  
# Output: ['This', 'string', 'has', 'words', 'separated', 'by', 'spaces']

['This', 'string', 'has', 'words', 'separated', 'by', 'spaces']

In [72]:
data = "Alex Doe,5555-2333,nobody@example.com"
fields = data.split(",")
print(fields)  
# Output: ['Alex Doe', '5555-2333', 'nobody@example.com']

['Alex Doe', '5555-2333', 'nobody@example.com']

In [74]:
'This string has words separated by spaces'.split()

['This', 'string', 'has', 'words', 'separated', 'by', 'spaces']

In [80]:
sentence = "apple,banana,orange,grape"
result = sentence.split(",", 2)
print(result)
#output: ['apple', 'banana', 'orange,grape']

['apple', 'banana', 'orange,grape']

### 9- join

In [83]:
letters = ['A', 'C', 'T', 'G']
dna_sequence = "".join(letters)  # Without any separator characters
print(dna_sequence)
# Output: "ACTG"

ACTG

In [85]:
words = ["Hello", "World", "Python"]
sentence = " ".join(words)  # Use space as separator
print(sentence)
# Output: "Hello World Python"

Hello World Python

In [87]:
names = ["Alice", "Bob", "Charlie"]
result = ", ".join(names)
print(result)
# Output: "Alice, Bob, Charlie"

Alice, Bob, Charlie

In [89]:
data = ["A", "C", 3, "T"]
result = "-".join(data)  # TypeError: sequence item 2: expected str instance, int found

TypeError: sequence item 2: expected str instance, int found

In [91]:
data = ["A", "C", "3", "T"]
result = "-".join(data)
result
# Output: "A-C-3-T"

'A-C-3-T'

In [93]:
result = "-".join(map(str, data))  
print(result)  
# Output: "A-C-3-T"

A-C-3-T

### 10- .startswith(prefix) & .endswith(suffix)

In [96]:
seq = "ATGCGTAA"
print(seq.startswith("ATG"))  # True
print(seq.endswith("TAA"))  # True

print(seq.startswith("ATA")) # False

True
True
False

### 11- string Slicing : string[start:end:step]

In [99]:
seq = "GATTACA"

In [101]:
#1. Basic Slicing (Extracting a Substring)
print(seq[0:4])   # Output: GATT (characters from index 0 to 3)

GATT

In [103]:
#2. Omitting Start or End Index
print(seq[:4])    # Output: GATT (starts from index 0)
print(seq[3:])    # Output: TACA (from index 3 to end)

GATT
TACA

In [105]:
#3. Using Negative Indexing
print(seq[-4:])   # Output: TACA (last 4 characters)
print(seq[:-2])   # Output: GATTA (everything except the last 2 characters)

TACA
GATTA

In [107]:
#4. Using Step to Skip Characters
print(seq[::2])   # Output: GTTC (every 2nd character)
print(seq[::-1])  # Output: ACATTAG (reverses the string)

GTAA
ACATTAG

In [109]:
#problem: Extracting Codons in a DNA Sequence
dna = "ATGCGATACGCTTGA"

codon1 = dna[0:3]   # First codon (ATG)
codon2 = dna[3:6]   # Second codon (CGA)
codon3 = dna[6:9]   # Third codon (TAC)
codon4 = dna[9:12]  # Fourth codon (GCT)
codon5 = dna[12:15] # Fifth codon (TGA)

codons = [codon1, codon2, codon3, codon4, codon5]  # Store codons in a list

print(codons)
#output: ['ATG', 'CGA', 'TAC', 'GCT', 'TGA']

['ATG', 'CGA', 'TAC', 'GCT', 'TGA']

### 12- other methods

In [ ]:
#To see all the methods related to strings, use this command:
help(str)

![Image Description](./PythonStringMethodsOverview.png)

### Fun & Practical Example

In [115]:
#Fun & Practical Example1

message = "عزیزم یادت نره گربه رو ببری دکتر!"
corrected_message = message.replace("گربه", "بچه")
print(corrected_message)
#output: عزیزم یادت نره بچه رو ببری دکتر!

عزیزم یادت نره بچه رو ببری دکتر!

In [117]:
##Fun & Practical Example2

sms = "Hello! Special discount only until tomorrow! Don’t miss out!"
if "special discount" in sms:
    sms = sms.replace("special discount", "[Removed]")
print(sms)
#output: Hello! [Removed] only until tomorrow! Don’t miss out!

Hello! Special discount only until tomorrow! Don’t miss out!

## Lists

**List Is a Basic Datatype in Python**

- Lists are one of the most versatile data types in Python. 
- A list is an ordered collection of objects enclosed by square brackets. 
- Lists can hold different types of elements, and they can even contain other lists.

In [121]:
'Alex Doe,5555-2333,hi@example.com'.split(',')

['Alex Doe', '5555-2333', 'hi@example.com']

In [123]:
first_list = [1, 2, 3, 4, 5]

In [125]:
other_list = [1, 'two', 3, 4, 'last']

In [127]:
nested_list = [1, 'two', first_list, 4, 'last']
nested_list

[1, 'two', [1, 2, 3, 4, 5], 4, 'last']

In [129]:
empty_list = []
empty_list

[]

In [131]:
first_list = [1, 2, 3, 4, 5]
first_list[0]

1

In [133]:
first_list[1]

2

In [135]:
first_list = [1, 2, 3, 4, 5]
first_list[-1]

5

In [137]:
first_list[-4]

2

In [139]:
aseq = "atggctaggc"
list(aseq)
# Output: ['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']

['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']

In [141]:
#remember: split in string
aseq = "atggctaggc"
aseq.split()
# Output: ['atggctaggc']  # Since no delimiter is provided, it treats the entire string as one word.

['atggctaggc']

In [143]:
#remember: split in string
aseq = "a t g g c t a g g c"
aseq.split()
# Output: ['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']  # The string is split by spaces into individual substrings.

['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']

In [145]:
samples = ['red'] * 5
samples

['red', 'red', 'red', 'red', 'red']

In [147]:
samples = [None] * 5
samples

[None, None, None, None, None]

In [149]:
a = [0, 1, 2, 3, 4, 5]

In [151]:
[3*x for x in a]

[0, 3, 6, 9, 12, 15]

In [153]:
animals = ['  King Kong', '  Godzilla ', 'Gamera  ']
[x.strip() for x in animals]

['King Kong', 'Godzilla', 'Gamera']

In [155]:
animals = ['  King Kong', '  Godzilla ', 'Gamera  ']
[x.strip() for x in animals if 'i' in x]

['King Kong', 'Godzilla']

### Modifying Lists

### 1- Adding

In [159]:
first_list.append(99)
first_list

[1, 2, 3, 4, 5, 99]

In [161]:
first_list.insert(2,50)
first_list

[1, 2, 50, 3, 4, 5, 99]

In [163]:
first_list.extend([6,7,8])
first_list

[1, 2, 50, 3, 4, 5, 99, 6, 7, 8]

In [165]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [167]:
first_list

[1, 2, 50, 3, 4, 5, 99, 6, 7, 8]

### 2- Removing

In [170]:
first_list.pop()

8

In [172]:
first_list.pop(2)

50

In [174]:
first_list

[1, 2, 3, 4, 5, 99, 6, 7]

In [176]:
first_list.remove(99)
first_list

[1, 2, 3, 4, 5, 6, 7]

In [178]:
first_list

[1, 2, 3, 4, 5, 6, 7]

In [180]:
first_list.remove(10)

ValueError: list.remove(x): x not in list

### 3- copy

In [183]:
## Not working:

a = [1, 2, 3]
b = a
b.pop()
a
#output: [1, 2]

[1, 2]

In [185]:
import copy
a = [1, 2, 3]
b = copy.copy(a)
b.pop()

3

In [187]:
a

[1, 2, 3]

In [189]:
a = [1, 2, 3]
b = a[:]
b.pop()

3

In [191]:
a

[1, 2, 3]

#### Common List Operations

l.append(x) : Adds element x to the list at the end.

In [195]:
first_list = [1, 2, 3]
first_list.append(4)
print(first_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

l.count(x): Counts how many times x appears in the list.

In [198]:
first_list = [1, 2, 2, 3, 2]
count = first_list.count(2)
print(count)  # Output: 3

3

l.index(x): Returns the index of the first occurrence of x in the list.

In [201]:
first_list = [1, 2, 3, 4]
index = first_list.index(3)
print(index)  # Output: 2

2

l.remove(x): Removes the first occurrence of x from the list.

In [204]:
first_list = [1, 2, 3, 2]
first_list.remove(2)
print(first_list)  # Output: [1, 3, 2]

[1, 3, 2]

l.reverse(): Reverses the order of the list.

In [207]:
first_list = [1, 2, 3]
first_list.reverse()
print(first_list)  # Output: [3, 2, 1]

[3, 2, 1]

l.sort(): Sorts the list in ascending order (in-place).

In [210]:
first_list = [3, 1, 2]
first_list.sort()
print(first_list)  # Output: [1, 2, 3]

[1, 2, 3]

### Fun & Practical

In [213]:
magic_bag = ["coin", 42, True, ["book", "glasses"], "🐱"]
magic_bag.append("magic wand 🪄")  # Adding a magic wand
print(magic_bag)

['coin', 42, True, ['book', 'glasses'], '🐱', 'magic wand 🪄']

In [215]:
#✨ Now our bag is truly magical!

In [217]:
shopping_list = ["milk", "eggs", "bread", "apples"]
shopping_list.append("butter")  # Adding butter to the list
shopping_list.remove("apples")  # Removing apples from the list
shopping_list.sort()
shopping_list

['bread', 'butter', 'eggs', 'milk']

In [219]:
shopping_list.reverse()
shopping_list

['milk', 'eggs', 'butter', 'bread']

In [221]:
#The "People Who Didn’t Do Their Exercises" List
students = ["Ali", "Sara", "John", "Hassan"]
students.remove("Sara")  # Removing Sara from the list! 
students

['Ali', 'John', 'Hassan']

### Conceptual Questions

1. Which are the principal data types in Python?
2. How do you test if an element is inside a list?
3. Sort the data types below according to the following criteria:
- Mutable–immutable
- Sorted–unsorted
- Sequence–mapping
Data types to sort: lists, tuples, dictionaries, sets, strings.
4. How do you convert any iterable data type into a list?

### Coding Exercises

#### 1- Working with Genetic Sequences (Lists):
Imagine you have a list of genetic sequences (DNA fragments) in a study. Write a program to:
- Store a list of DNA fragments.
- Add a new fragment to the list.
- Remove a fragment if it's not needed anymore.
- Retrieve a specific DNA fragment by its index.
Example DNA fragments list: ['ATCG', 'GCTA', 'CG']