Chapter 2: Basic Programming: Data Types
-----------------------------

## Numeric (int , complex  , float) + Boolean

In [3]:
x = 10   # Integer
y = -5   # Negative Integer

In [5]:
a = 3.14   # Float
b = 2.5e3  # Scientific notation (2500.0)

In [7]:
z = 2 + 3j   # Complex number (real: 2, imaginary: 3j)
print(z.real)  # Output: 2.0
print(z.imag)  # Output: 3.0

2.0
3.0

In [9]:
print(int(3.9))   # Output: 3 (removes decimal part)
print(int(True))  # Output: 1
print(int(False)) # Output: 0

3
1
0

In [11]:
#1. Integer (int) Conversions
#Convert float or bool to int:
print(int(3.9))   # Output: 3 (removes decimal part)
print(int(True))  # Output: 1
print(int(False)) # Output: 0

3
1
0

In [13]:
#2. Float (float) Conversions
#Convert int or bool to float:
print(float(7))   # Output: 7.0
print(float(True))  # Output: 1.0
print(float(False)) # Output: 0.0

7.0
1.0
0.0

In [15]:
#3. Complex (complex) Conversions
#Convert int or float to complex:
print(complex(4))     # Output: (4+0j)
print(complex(3.5))   # Output: (3.5+0j)

(4+0j)
(3.5+0j)

In [17]:
#4. Boolean (bool) Conversions
#Convert numbers to bool:
print(bool(0))    # Output: False (Only 0 is False)
print(bool(10))   # Output: True
print(bool(-3.5)) # Output: True

False
True
True

In [19]:
#Practical Example: Checking if a Temperature is Freezing
temperature = -5.4  # Celsius
is_freezing = bool(temperature < 0)  # Convert comparison result to boolean
print(is_freezing)  # Output: True

True

In [21]:
#Practical Example: Converting User Input to Numeric Type
user_input = "42"
num = int(user_input)  # Convert string to integer
print(num * 2)  # Output: 84

84

## Strings

In [26]:
"A single quote (â€™) inside a double quote"
'Here we have "double quotes" inside single quotes'

'Here we have "double quotes" inside single quotes'

In [28]:
"Mixing quotes leads to the dark side'
#error

SyntaxError: unterminated string literal (detected at line 1) (3723981634.py, line 1)

In [30]:
#new line with \n
print("Hi! I'm a\nmultiline\nstring")

Hi! I'm a
multiline
string

**Strings are sequences of Unicode characters**

In [33]:
'In Python 3, strings are Unicode: ã“ã‚“ã«ã¡ã¯ ä¸–ç•Œ'

'In Python 3, strings are Unicode: ã“ã‚“ã«ã¡ã¯ ä¸–ç•Œ'

In [35]:
"ÙØ§Ø±Ø³ÛŒ Ù‚Ø§Ø¨Ù„ ÙÙ‡Ù… Ø¨Ø±Ø§ÛŒ Ù¾Ø§ÛŒØªÙˆÙ† Ø§Ø³Øª"

'ÙØ§Ø±Ø³ÛŒ Ù‚Ø§Ø¨Ù„ ÙÙ‡Ù… Ø¨Ø±Ø§ÛŒ Ù¾Ø§ÛŒØªÙˆÙ† Ø§Ø³Øª'

- Strings are immutable in Python.
- You cannot modify a string directly, but you can create a derived string
- Original string remains unchanged unless reassigned.

### String Methods in Python

#### 1- lower

In [20]:
signal_peptide = 'MASKATLLLAFTLLFATCIA'
signal_peptide.lower()

'maskatlllaftllfatcia'

In [22]:
signal_peptide

'MASKATLLLAFTLLFATCIA'

In [24]:
signal_peptide = signal_peptide.lower()
signal_peptide

'maskatlllaftllfatcia'

In [26]:
seq = "ACGTACGT"
print(seq.lower())  
# Output: "acgtacgt"

acgtacgt

#### 2- upper()

In [29]:
seq = "acgtacgt"
print(seq.upper())  
# Output: "ACGTACGT"

ACGTACGT

### 3- strip()

In [32]:
dna_seq = "   ACGTACGT   "
print(dna_seq.strip())  
# Output: "ACGTACGT"

ACGTACGT

### 4- replace()

In [35]:

dna_seq = 'GCTAGTAATGTG'
m_rna_seq = dna_seq.replace('T','U')
m_rna_seq

'GCUAGUAAUGUG'

In [37]:
dna_seq = 'GCTAGTAATGTG'
m_rna_seq = dna_seq.replace('T','U', 2)
m_rna_seq
#output: GCUAGUAATGTG

'GCUAGUAATGTG'

In [39]:
dna_seq

'GCTAGTAATGTG'

### 5- count()

In [42]:
c = dna_seq.count("C")
g = dna_seq.count("G")
(c+g)/len(dna_seq)*100

41.66666666666667

In [44]:
m_rna_seq

'GCUAGUAATGTG'

In [46]:
dna_seq = 'GCTAGTAATGTG'
gc_content = (dna_seq.count('C') + dna_seq.count('G')) / len(dna_seq) * 100
print(f'GC Content: {gc_content:.2f}%')  # Output: 41.67%

GC Content: 41.67%

In [48]:
dna_seq = 'GCTAGTAATGTG'
g_count = dna_seq.count('G')
print(g_count)  # output:4

4

In [50]:
g_count_partial = dna_seq.count('G', 3, 10)
print(g_count_partial)  # output : 2

2

### 6- find()

In [53]:
m_rna_seq.find('AUG')

-1

In [55]:
m_rna_seq.find('GGG')

-1

In [57]:
m_rna_seq = 'GCUAGUAAUGUG'
pos = m_rna_seq.find('AUG')
print(pos)  # output: 7

7

In [59]:
m_rna_seq = 'GCUAGUAAUGUG'

pos_limited = m_rna_seq.find('AUG', 5) #start the search from index 5.
print(pos_limited)

7

In [61]:
pos_range = m_rna_seq.find('AUG', 3, 8)
print(pos_range)  # Output: -1 (because it does not exist in this range)

-1

### 7- index

In [64]:
dna_seq = "GCTAGTAATGTG"
pos = dna_seq.index("T", 3, 10)
print(pos)  # Output: 5

5

In [66]:
sequence = "GCTAGTAATGTG"
pos = sequence.index("CCC")  # Raises ValueError

ValueError: substring not found

In [76]:
sequence = "GCTAGTAATGTG"
pos = sequence.index("T")
pos

2

In [78]:
sequence = "GCTAGTAATGTG"
pos = sequence.index("GTG")
pos

9

### 8- split

In [70]:
text = 'This string has words separated by spaces'
words = text.split()
print(words)  
# Output: ['This', 'string', 'has', 'words', 'separated', 'by', 'spaces']

['This', 'string', 'has', 'words', 'separated', 'by', 'spaces']

In [72]:
data = "Alex Doe,5555-2333,nobody@example.com"
fields = data.split(",")
print(fields)  
# Output: ['Alex Doe', '5555-2333', 'nobody@example.com']

['Alex Doe', '5555-2333', 'nobody@example.com']

In [74]:
'This string has words separated by spaces'.split()

['This', 'string', 'has', 'words', 'separated', 'by', 'spaces']

In [80]:
sentence = "apple,banana,orange,grape"
result = sentence.split(",", 2)
print(result)
#output: ['apple', 'banana', 'orange,grape']

['apple', 'banana', 'orange,grape']

### 9- join

In [83]:
letters = ['A', 'C', 'T', 'G']
dna_sequence = "".join(letters)  # Without any separator characters
print(dna_sequence)
# Output: "ACTG"

ACTG

In [85]:
words = ["Hello", "World", "Python"]
sentence = " ".join(words)  # Use space as separator
print(sentence)
# Output: "Hello World Python"

Hello World Python

In [87]:
names = ["Alice", "Bob", "Charlie"]
result = ", ".join(names)
print(result)
# Output: "Alice, Bob, Charlie"

Alice, Bob, Charlie

In [89]:
data = ["A", "C", 3, "T"]
result = "-".join(data)  # TypeError: sequence item 2: expected str instance, int found

TypeError: sequence item 2: expected str instance, int found

In [91]:
data = ["A", "C", "3", "T"]
result = "-".join(data)
result
# Output: "A-C-3-T"

'A-C-3-T'

In [93]:
result = "-".join(map(str, data))  
print(result)  
# Output: "A-C-3-T"

A-C-3-T

### 10- .startswith(prefix) & .endswith(suffix)

In [96]:
seq = "ATGCGTAA"
print(seq.startswith("ATG"))  # True
print(seq.endswith("TAA"))  # True

print(seq.startswith("ATA")) # False

True
True
False

### 11- string Slicing : string[start:end:step]

In [99]:
seq = "GATTACA"

In [101]:
#1. Basic Slicing (Extracting a Substring)
print(seq[0:4])   # Output: GATT (characters from index 0 to 3)

GATT

In [103]:
#2. Omitting Start or End Index
print(seq[:4])    # Output: GATT (starts from index 0)
print(seq[3:])    # Output: TACA (from index 3 to end)

GATT
TACA

In [105]:
#3. Using Negative Indexing
print(seq[-4:])   # Output: TACA (last 4 characters)
print(seq[:-2])   # Output: GATTA (everything except the last 2 characters)

TACA
GATTA

In [107]:
#4. Using Step to Skip Characters
print(seq[::2])   # Output: GTTC (every 2nd character)
print(seq[::-1])  # Output: ACATTAG (reverses the string)

GTAA
ACATTAG

In [109]:
#problem: Extracting Codons in a DNA Sequence
dna = "ATGCGATACGCTTGA"

codon1 = dna[0:3]   # First codon (ATG)
codon2 = dna[3:6]   # Second codon (CGA)
codon3 = dna[6:9]   # Third codon (TAC)
codon4 = dna[9:12]  # Fourth codon (GCT)
codon5 = dna[12:15] # Fifth codon (TGA)

codons = [codon1, codon2, codon3, codon4, codon5]  # Store codons in a list

print(codons)
#output: ['ATG', 'CGA', 'TAC', 'GCT', 'TGA']

['ATG', 'CGA', 'TAC', 'GCT', 'TGA']

### 12- other methods

In [ ]:
#To see all the methods related to strings, use this command:
help(str)

![Image Description](./PythonStringMethodsOverview.png)

### Fun & Practical Example

In [115]:
#Fun & Practical Example1

message = "Ø¹Ø²ÛŒØ²Ù… ÛŒØ§Ø¯Øª Ù†Ø±Ù‡ Ú¯Ø±Ø¨Ù‡ Ø±Ùˆ Ø¨Ø¨Ø±ÛŒ Ø¯Ú©ØªØ±!"
corrected_message = message.replace("Ú¯Ø±Ø¨Ù‡", "Ø¨Ú†Ù‡")
print(corrected_message)
#output: Ø¹Ø²ÛŒØ²Ù… ÛŒØ§Ø¯Øª Ù†Ø±Ù‡ Ø¨Ú†Ù‡ Ø±Ùˆ Ø¨Ø¨Ø±ÛŒ Ø¯Ú©ØªØ±!

Ø¹Ø²ÛŒØ²Ù… ÛŒØ§Ø¯Øª Ù†Ø±Ù‡ Ø¨Ú†Ù‡ Ø±Ùˆ Ø¨Ø¨Ø±ÛŒ Ø¯Ú©ØªØ±!

In [117]:
##Fun & Practical Example2

sms = "Hello! Special discount only until tomorrow! Donâ€™t miss out!"
if "special discount" in sms:
    sms = sms.replace("special discount", "[Removed]")
print(sms)
#output: Hello! [Removed] only until tomorrow! Donâ€™t miss out!

Hello! Special discount only until tomorrow! Donâ€™t miss out!

## Lists

**List Is a Basic Datatype in Python**

- Lists are one of the most versatile data types in Python. 
- A list is an ordered collection of objects enclosed by square brackets. 
- Lists can hold different types of elements, and they can even contain other lists.

In [121]:
'Alex Doe,5555-2333,hi@example.com'.split(',')

['Alex Doe', '5555-2333', 'hi@example.com']

In [123]:
first_list = [1, 2, 3, 4, 5]

In [125]:
other_list = [1, 'two', 3, 4, 'last']

In [127]:
nested_list = [1, 'two', first_list, 4, 'last']
nested_list

[1, 'two', [1, 2, 3, 4, 5], 4, 'last']

In [129]:
empty_list = []
empty_list

[]

In [131]:
first_list = [1, 2, 3, 4, 5]
first_list[0]

1

In [133]:
first_list[1]

2

In [135]:
first_list = [1, 2, 3, 4, 5]
first_list[-1]

5

In [137]:
first_list[-4]

2

In [139]:
aseq = "atggctaggc"
list(aseq)
# Output: ['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']

['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']

In [141]:
#remember: split in string
aseq = "atggctaggc"
aseq.split()
# Output: ['atggctaggc']  # Since no delimiter is provided, it treats the entire string as one word.

['atggctaggc']

In [143]:
#remember: split in string
aseq = "a t g g c t a g g c"
aseq.split()
# Output: ['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']  # The string is split by spaces into individual substrings.

['a', 't', 'g', 'g', 'c', 't', 'a', 'g', 'g', 'c']

In [145]:
samples = ['red'] * 5
samples

['red', 'red', 'red', 'red', 'red']

In [147]:
samples = [None] * 5
samples

[None, None, None, None, None]

In [149]:
a = [0, 1, 2, 3, 4, 5]

In [151]:
[3*x for x in a]

[0, 3, 6, 9, 12, 15]

In [153]:
animals = ['  King Kong', '  Godzilla ', 'Gamera  ']
[x.strip() for x in animals]

['King Kong', 'Godzilla', 'Gamera']

In [155]:
animals = ['  King Kong', '  Godzilla ', 'Gamera  ']
[x.strip() for x in animals if 'i' in x]

['King Kong', 'Godzilla']

### Modifying Lists

### 1- Adding

In [159]:
first_list.append(99)
first_list

[1, 2, 3, 4, 5, 99]

In [161]:
first_list.insert(2,50)
first_list

[1, 2, 50, 3, 4, 5, 99]

In [163]:
first_list.extend([6,7,8])
first_list

[1, 2, 50, 3, 4, 5, 99, 6, 7, 8]

In [165]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [167]:
first_list

[1, 2, 50, 3, 4, 5, 99, 6, 7, 8]

### 2- Removing

In [170]:
first_list.pop()

8

In [172]:
first_list.pop(2)

50

In [174]:
first_list

[1, 2, 3, 4, 5, 99, 6, 7]

In [176]:
first_list.remove(99)
first_list

[1, 2, 3, 4, 5, 6, 7]

In [178]:
first_list

[1, 2, 3, 4, 5, 6, 7]

In [180]:
first_list.remove(10)

ValueError: list.remove(x): x not in list

### 3- copy

In [183]:
## Not working:

a = [1, 2, 3]
b = a
b.pop()
a
#output: [1, 2]

[1, 2]

In [185]:
import copy
a = [1, 2, 3]
b = copy.copy(a)
b.pop()

3

In [187]:
a

[1, 2, 3]

In [189]:
a = [1, 2, 3]
b = a[:]
b.pop()

3

In [191]:
a

[1, 2, 3]

#### Common List Operations

l.append(x) : Adds element x to the list at the end.

In [195]:
first_list = [1, 2, 3]
first_list.append(4)
print(first_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

l.count(x): Counts how many times x appears in the list.

In [198]:
first_list = [1, 2, 2, 3, 2]
count = first_list.count(2)
print(count)  # Output: 3

3

l.index(x): Returns the index of the first occurrence of x in the list.

In [201]:
first_list = [1, 2, 3, 4]
index = first_list.index(3)
print(index)  # Output: 2

2

l.remove(x): Removes the first occurrence of x from the list.

In [204]:
first_list = [1, 2, 3, 2]
first_list.remove(2)
print(first_list)  # Output: [1, 3, 2]

[1, 3, 2]

l.reverse(): Reverses the order of the list.

In [207]:
first_list = [1, 2, 3]
first_list.reverse()
print(first_list)  # Output: [3, 2, 1]

[3, 2, 1]

l.sort(): Sorts the list in ascending order (in-place).

In [210]:
first_list = [3, 1, 2]
first_list.sort()
print(first_list)  # Output: [1, 2, 3]

[1, 2, 3]

### Fun & Practical

In [213]:
magic_bag = ["coin", 42, True, ["book", "glasses"], "ðŸ±"]
magic_bag.append("magic wand ðŸª„")  # Adding a magic wand
print(magic_bag)

['coin', 42, True, ['book', 'glasses'], 'ðŸ±', 'magic wand ðŸª„']

In [215]:
#âœ¨ Now our bag is truly magical!

In [217]:
shopping_list = ["milk", "eggs", "bread", "apples"]
shopping_list.append("butter")  # Adding butter to the list
shopping_list.remove("apples")  # Removing apples from the list
shopping_list.sort()
shopping_list

['bread', 'butter', 'eggs', 'milk']

In [219]:
shopping_list.reverse()
shopping_list

['milk', 'eggs', 'butter', 'bread']

In [221]:
#The "People Who Didnâ€™t Do Their Exercises" List
students = ["Ali", "Sara", "John", "Hassan"]
students.remove("Sara")  # Removing Sara from the list! 
students

['Ali', 'John', 'Hassan']

## Tuples

Tuples Are Immutable Lists
- Immutable Lists: Tuples are ordered collections of items, but unlike lists, they cannot be changed after creation (they are "immutable").
Tuples are defined using parentheses () instead of square brackets [].

In [224]:
point = (23, 56, 11)

Single Element Tuple: For a tuple with only one element, use a trailing comma:

In [1]:
alone_tuple = (5,)

In [2]:
type(alone_tuple)

tuple

In [226]:
point.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [228]:
point.pop()

AttributeError: 'tuple' object has no attribute 'pop'

Use in Functions and Dictionaries: Tuples are commonly used to return multiple values from a function or as dictionary keys.

In [230]:
#A function in Python can return multiple values as a tuple.
def get_gene_info():
    """
    Returns gene information as a tuple:
    - Gene name
    - Gene length (in base pairs)
    - Gene function
    """
    gene_name = "BRCA1"
    gene_length = 81189  # Base pairs
    gene_function = "DNA repair"

    return gene_name, gene_length, gene_function  # Returning a tuple

# Calling the function
gene_data = get_gene_info()
print(gene_data)  
# Output: ('BRCA1', 81189, 'DNA repair')

# Unpacking the tuple
name, length, function = get_gene_info()
print(f"Gene: {name}, Length: {length} bp, Function: {function}")
# Output: Gene: BRCA1, Length: 81189 bp, Function: DNA repair

('BRCA1', 81189, 'DNA repair')
Gene: BRCA1, Length: 81189 bp, Function: DNA repair

In [232]:
#Using Tuples as Dictionary Keys
'''Dictionaries in Python require immutable types (such as numbers, strings, or tuples) as keys. 
Since lists are mutable, they cannot be used as dictionary keys.'''

# Dictionary storing city names with their geographical coordinates
locations = {
    (35.6892, 51.3890): "Tehran",
    (40.7128, -74.0060): "New York",
    (48.8566, 2.3522): "Paris"
}

# Accessing a city by its coordinates
print(locations[(35.6892, 51.3890)])  # Output: Tehran

Tehran

In [234]:
#Using Tuples as Dictionary Keys
# Dictionary storing species information with (scientific name, taxonomic class) as a key
#In biology, we often store species-related data. Tuples allow us to use multiple fixed attributes as dictionary keys.

species_data = {
    ("Homo sapiens", "Mammal"): {"Genome Size": "3.2 billion bp", "Chromosomes": 23},
    ("Escherichia coli", "Bacteria"): {"Genome Size": "4.6 million bp", "Chromosomes": 1},
    ("Drosophila melanogaster", "Insect"): {"Genome Size": "140 million bp", "Chromosomes": 4}
}

# Accessing information about humans
print(species_data[("Homo sapiens", "Mammal")])
# Output: {'Genome Size': '3.2 billion bp', 'Chromosomes': 23}

{'Genome Size': '3.2 billion bp', 'Chromosomes': 23}

### Common Properties of the Sequences

### 1. indexing

Accessing Elements: Sequences like lists, tuples, and strings allow you to access their elements using indexes, which start from 0.

In [237]:
point = (23, 56, 11)
print(point[0])  # 23
sequence = "MRVLLVALALLALAASATS"
print(sequence[0])  # 'M'
parameters = ['UniGene', 'dna', 'Mm.248907', 5]
print(parameters[2])  # 'Mm.248907'

23
M
Mm.248907

#### 2- Negative Indexing:
You can also access elements from the end of the sequence by using negative indices.

In [239]:
print(point[-1])  # 11
sequence[-2]  # 'T'

11

'T'

In [241]:
point = (23, 56, 11)
point[0]

23

In [243]:
point[1]

56

In [245]:
my_sequence = 'MRVLLVALALLALAASATS'
my_sequence[0]

'M'

In [247]:
my_sequence[5]

'V'

In [249]:
parameters = ['UniGene', 'dna', 'Mm.248907', 5]
parameters[2]

'Mm.248907'

In [251]:
point[-1]

11

In [253]:
point[-2]

56

In [255]:
my_sequence[-2]

'T'

In [257]:
my_sequence[-4]

'S'

In [259]:
my_sequence[-1]

'S'

#### 3- Nested Sequences: 
If an element inside a sequence is itself a sequence, you can access it using multiple indexes. Example:

In [261]:
seqdata = ('MRVLLVALALLA', 12, '5FE9EEE8EE2DC2C7')
seqdata[0][5]

'V'

#### 4- Slicing: 
Selecting a Subsequence: You can use slicing to select a portion of a sequence. Slicing uses two indexes separated by a colon (:).

In [263]:
my_sequence="Python"
my_sequence[0:2]

'Py'

#### 5- Omitting Indexes: 
If you omit the first index, it defaults to 0. If you omit the second index, it defaults to the last element (-1).

In [265]:
my_sequence[:2]

'Py'

In [267]:
my_sequence="Python"
my_sequence[4:6]

'on'

In [269]:
my_sequence[4:]

'on'

In [271]:
my_sequence[1:5]

'ytho'

#### 6- Step Indexing: 
You can also skip positions using the step argument in slicing.

In [273]:
my_sequence[1:5:2]

'yh'

#### 7- Reversing a Sequence: 
Negative step values can be used to reverse a sequence.

Slicing Always Returns a New Sequence: Note that slicing creates a new sequence, leaving the original one unchanged.

For strings, since they are immutable, you cannot use reverse(). Instead, you use slicing to reverse a string. Therefore, to reverse strings, you should use slicing ([::-1]), but for lists, you can use the reverse() method.

In [275]:
my_sequence[::-1]

'nohtyP'

#### 8- Membership Test: 
You can verify if an element belongs to a sequence using the in keyword.

In [277]:
point = (23, 56, 11)
11 in point

True

In [279]:
my_sequence = 'MRVLLVALALLALAASATS'
'X' in my_sequence

False

#### 9- Concatenation Sequences: 
You can concatenate two or more sequences of the same type using the + operator.

Different Types Cannot Be Concatenated: Sequences of different types cannot be concatenated together.

In [281]:
point = (23, 56, 11)
point2 = (2, 6, 7)
point + point2

(23, 56, 11, 2, 6, 7)

In [283]:
dna_seq = 'ATGCTAGACGTCCTCAGATAGCCG'
tata_box = 'TATAAA'
tata_box + dna_seq

'TATAAAATGCTAGACGTCCTCAGATAGCCG'

In [285]:
point + tata_box

TypeError: can only concatenate tuple (not "str") to tuple

#### 10- Functions : len() : 
Returns the length (number of items) of a sequence.

In [287]:
point = (23, 56, 11)
len(point)

3

#### 11- Functions: 
max() and min() : When applied to sequences of numbers, these functions return the maximum and minimum values respectively.

In [289]:
my_sequence = 'MRVLLVALALLALAASATS'
len(my_sequence)

19

In [291]:
point

(23, 56, 11)

In [293]:
max(point)

56

In [295]:
min(point)

11

In [297]:
my_sequence = 'MRVLLVALALLALAASATS'
max(my_sequence)

'V'

In [299]:
min(my_sequence)

'A'

#### 12- Turning a Sequence into a List (Convert to List): 
To convert a sequence (like a tuple or string) into a list, use the list() function.

In [301]:
tata_box = 'TATAAA'
list(tata_box)

['T', 'A', 'T', 'A', 'A', 'A']

### Fun & Practical

- Real-Life Example: Supermarket Invoice
Imagine you buy items from a supermarket, and your receipt contains item name, price, and quantity.
Since this information doesnâ€™t change, a tuple is the best choice!

In [304]:
# Example1 : Real-Life Example: Supermarket Invoice
item1 = ("Milk", 30_000, 2)
item2 = ("Bread", 10_000, 1)
item3 = ("Eggs", 40_000, 1)

# Invoice: A list of tuples (because invoices can have multiple items)
invoice = [item1, item2, item3]

# Display the invoice
for item in invoice:
    print(f"Item: {item[0]}, Price: {item[1]}, Quantity: {item[2]}")

Item: Milk, Price: 30000, Quantity: 2
Item: Bread, Price: 10000, Quantity: 1
Item: Eggs, Price: 40000, Quantity: 1

- Funny Example: Momâ€™s Favorites
- Moms never change their favorite things! So letâ€™s store momâ€™s unchangeable favorites in a tuple.

In [306]:
#Funny Example: Momâ€™s Favorites
mom_favorites = ("Tea", "Turkish Drama", "Complaining About You", "Trips to the Beach")

print(f"Things my mom always loves: {mom_favorites}")
print(f"First favorite: {mom_favorites[0]}")

Things my mom always loves: ('Tea', 'Turkish Drama', 'Complaining About You', 'Trips to the Beach')
First favorite: Tea

In [308]:
#Tuples vs. Lists
# Tuple (Fixed)
favorite_foods = ("Pizza", "Kebab", "Pasta")

# List (Changeable)
shopping_list = ["Tomato", "Cucumber", "Rice"]
shopping_list.append("Tea")  # âœ… Allowed
# favorite_foods.append("Soup")  # âŒ Error! Tuples can't be modified
print(favorite_foods)
print(shopping_list)

('Pizza', 'Kebab', 'Pasta')
['Tomato', 'Cucumber', 'Rice', 'Tea']

## Dictionaries

Mapping: Calling Each Value by a Name

A dictionary is a key-value data structure that stores unordered, indexed data.
Unlike lists and tuples, dictionaries donâ€™t use numerical indexes, but rather keys to access values.

In [7]:
#my_dict = {key1: value1, key2: value2}

Keys must be immutable (e.g., strings, numbers, tuples).

Think of a dictionary as a biological codon table, mapping codons (keys) to amino acids (values).

In [311]:
codon_table = {
    "AUG": "Methionine",
    "UUU": "Phenylalanine",
    "UUC": "Phenylalanine",
}

print(f"AUG codes for {codon_table['AUG']}")

AUG codes for Methionine

### Creating a Dictionary

#### 1- Directly Using {}

In [313]:
#iupac : International Union of Pure and Applied Chemistry
iupac = {'A':'Ala','C':'Cys','E':'Glu'}
print('C stands for the amino acid {0}'.format(iupac['C']))

C stands for the amino acid Cys

In [315]:
iupac['E']

'Glu'

#### 2- Using dict()

In [317]:
rgb = [('red','ff0000'), ('green','00ff00'), ('blue','0000ff')]
colors_d = dict(rgb)
colors_d

{'red': 'ff0000', 'green': '00ff00', 'blue': '0000ff'}

In [319]:
rgb = dict(red='ff0000', green='00ff00', blue='0000ff')
rgb

{'red': 'ff0000', 'green': '00ff00', 'blue': '0000ff'}

#### 3- Creating an Empty Dictionary

In [321]:
rgb = {}
rgb['red'] = 'ff0000'
rgb['green'] = '00ff00'
rgb

{'red': 'ff0000', 'green': '00ff00'}

##### for list ?
- The error occurs because you're trying to assign a value to an index (l1[0]) in an empty list (l1 = []). In Python, you cannot assign a value to an index that doesn't exist.

Unlike lists, dictionaries don't require a predefined structure. You can add keys at any time.

In [8]:
l1 = []
l1[0] = 'ff0000'
l1[1] = '00ff00'
l1

IndexError: list assignment index out of range

In [11]:
l1 = []
l1.append('ff0000')
l1.append('00ff00')
print(l1)  # Output: ['ff0000', '00ff00']

['ff0000', '00ff00']

In [10]:
l1 = [""] * 2  # Creates a list with two empty strings
l1[0] = 'ff0000'
l1[1] = '00ff00'
print(l1)  # Output: ['ff0000', '00ff00']

['ff0000', '00ff00']

In [12]:
l1 = []
l1.insert(0, 'ff0000')
l1.insert(1, '00ff00')
print(l1)  # Output: ['ff0000', '00ff00']

['ff0000', '00ff00']

In [323]:
protein_weights = {}
protein_weights["Ala"] = 89.1
protein_weights["Cys"] = 121.2
protein_weights

{'Ala': 89.1, 'Cys': 121.2}

### Accessing Values in a Dictionary

In [325]:
iupac = {"A": "Ala", "C": "Cys", "E": "Glu"}
print(iupac["C"])  # Output: Cys

Cys

- .get()
- If the key doesnâ€™t exist, Python throws an error!
Use .get() to avoid errors:

In [327]:
# âš  If the key doesnâ€™t exist, Python throws an error!
#âœ” Use .get() to avoid errors:
#print(iupac["X"]) #KeyError: 'X'
print(iupac.get("C", "Unknown"))
print(iupac.get("X", "Unknown"))  # Output: Unknown

Cys
Unknown

### Adding & Updating Values

Dictionaries automatically update the keyâ€™s value if it already exists.

In [329]:
iupac = {"A": "Ala", "C": "Cys", "E": "Glu"}
iupac["S"] = "Ser"  # Add new entry
iupac["A"] = "Alanine"  # Update existing entry
iupac

{'A': 'Alanine', 'C': 'Cys', 'E': 'Glu', 'S': 'Ser'}

### Removing Elements

.pop() removes an element safely without breaking the program.

In [331]:
iupac = {'A': 'Alanine', 'C': 'Cys', 'E': 'Glu', 'S': 'Ser'}
a = iupac.pop("A")  # Removes 'A' from the dictionary
print(a)
iupac

Alanine

{'C': 'Cys', 'E': 'Glu', 'S': 'Ser'}

### Checking Membership

In [333]:
print("C" in iupac)  # Output: True
print("X" in iupac)  # Output: False

True
False

### Countinmg Elements in a Dictionary

In [335]:
iupac = {"A": "Ala", "C": "Cys", "E": "Glu"}
print(len(iupac))  # Output: 3

3

### Dictionary Order in Python

From Python 3.7 onwards, dictionaries preserve insertion order, meaning elements appear in the order they were added!

In [337]:
!python --version

Python 3.12.4

In [339]:
#Before Python 3.7, dictionaries were unordered. (ordered_iupac = OrderedDict())
#not use these code if your python updated ! (!python --version)
from collections import OrderedDict

ordered_iupac = OrderedDict()
ordered_iupac["A"] = "Ala"
ordered_iupac["C"] = "Cys"
ordered_iupac["E"] = "Glu"

print(ordered_iupac)
# Output: OrderedDict([('A', 'Ala'), ('C', 'Cys'), ('E', 'Glu')])

OrderedDict({'A': 'Ala', 'C': 'Cys', 'E': 'Glu'})

In [341]:
#Dictionary Order in Python
#Dictionaries are not sorted automatically; they only maintain the order of insertion.
iupac = { 'S': 'Ser', "A": "Ala","E": "Glu", "C": "Cys"}
print(iupac)

{'S': 'Ser', 'A': 'Ala', 'E': 'Glu', 'C': 'Cys'}

### Sorting a Dictionary

In [343]:
#Sorting a Dictionary
#Sort by key:
iupac = { 'S': 'Ser', "A": "Ala","E": "Glu", "C": "Cys"}
print(iupac.items())
sorted_iupac = dict(sorted(iupac.items())) #By default, sorted() sorts elements by the first value (key).
print(sorted_iupac)

dict_items([('S', 'Ser'), ('A', 'Ala'), ('E', 'Glu'), ('C', 'Cys')])
{'A': 'Ala', 'C': 'Cys', 'E': 'Glu', 'S': 'Ser'}

In [345]:
#Sorting a Dictionary
#Sort by value:
iupac = { 'S': 'Ser', "A": "XAla","E": "Glu", "C": "Cys"}
sorted_by_value = dict(sorted(iupac.items(), key=lambda x: x[1]))
print(sorted_by_value)

{'C': 'Cys', 'E': 'Glu', 'S': 'Ser', 'A': 'XAla'}

In [347]:
iupac = {'A':'Ala','C':'Cys','E':'Glu'}
iupac['X'] = 'Xaa'
iupac

{'A': 'Ala', 'C': 'Cys', 'E': 'Glu', 'X': 'Xaa'}

### Dictionary Keys and Values

- Dictionaries store data in key-value pairs
- Use .keys() and .values() to retrieve them
- These methods return dictionary views (not lists!)
- Dictionary views update automatically if the dictionary changes.

In [349]:
iupac = {'E': 'Glu', 'X': 'Xaa', 'C': 'Cys', 'A': 'Ala'}
print(iupac.keys())   # dict_keys(['E', 'X', 'C', 'A'])
print(iupac.values()) # dict_values(['Glu', 'Xaa', 'Cys', 'Ala'])

dict_keys(['E', 'X', 'C', 'A'])
dict_values(['Glu', 'Xaa', 'Cys', 'Ala'])

In [351]:
#dictionary view
iupac = {'E': 'Glu', 'X': 'Xaa', 'C': 'Cys', 'A': 'Ala'}
iupac_keys = iupac.keys()  # output type: dict_keys
iupac_values = iupac.values()  # output type: dict_values

print(iupac_keys)   # dict_keys(['E', 'X', 'C', 'A'])
print(iupac_values) # dict_values(['Glu', 'Xaa', 'Cys', 'Ala'])

# Remove a value from the dictionary
iupac.pop('X')

print(iupac_keys)   # dict_keys(['E', 'C', 'A'])  â†’ Changed!
print(iupac_values) # dict_values(['Glu', 'Cys', 'Ala'])  â†’ Changed!

dict_keys(['E', 'X', 'C', 'A'])
dict_values(['Glu', 'Xaa', 'Cys', 'Ala'])
dict_keys(['E', 'C', 'A'])
dict_values(['Glu', 'Cys', 'Ala'])

### convert Dictionary Views to list

In [353]:
#convert dictionary view to list:
keys_list = list(iupac.keys())
values_list = list(iupac.values())
print(keys_list)   # ['E', 'C', 'A']
print(values_list) # ['Glu', 'Cys', 'Ala']

['E', 'C', 'A']
['Glu', 'Cys', 'Ala']

In [355]:
iupac = {'A': 'Ala', 'C': 'Cys', 'E': 'Glu', 'X': 'Xaa'}
iupac_keys = iupac.keys()
iupac_vals = iupac.values()
iupac.pop('X')

'Xaa'

In [357]:
iupac_keys

dict_keys(['A', 'C', 'E'])

In [359]:
iupac_vals

dict_values(['Ala', 'Cys', 'Glu'])

### Accessing Key-Value Pairs
Use .items() to get a list of (key, value) tuples

In [361]:
iupac = {'E': 'Glu', 'X': 'Xaa', 'C': 'Cys', 'A': 'Ala'}
iupac.items()

dict_items([('E', 'Glu'), ('X', 'Xaa'), ('C', 'Cys'), ('A', 'Ala')])

### Querying Dictionary Values

In [363]:
iupac['Z']

KeyError: 'Z'

In [15]:
iupac = {'E': 'Glu', 'X': 'Xaa', 'C': 'Cys', 'A': 'Ala'}
print(iupac.get('A','No translation available'))
print(iupac.get('Z','No translation available'))

Ala
No translation available

In [367]:
print(iupac.get('Z'))

None

#### Handling Missing Keys in Modern Python

In [17]:
if 'z' in iupac:
    print('key exists!')
else:
    print('key does not exists!')

key does not exists!

### Erasing Elements from a Dictionary

In [369]:
iupac = {'E': 'Glu', 'X': 'Xaa', 'C': 'Cys', 'A': 'Ala'}
del iupac['A']
iupac

{'E': 'Glu', 'X': 'Xaa', 'C': 'Cys'}

In [371]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
item = my_dict.popitem()
print(item)  # Output: ('c', 3) -- This is a random key-value pair in Python < 3.7 or the last item in Python >= 3.7
print(my_dict)  # Output: {'a': 1, 'b': 2}

('c', 3)
{'a': 1, 'b': 2}

In [373]:
if 'Z' in iupac:
    print("Key exists!")
else:
    print("Key does not exist.")

Key does not exist.

![Image Description](./Common-Dictionary-Methods.png)

### Fun & Practical Example

#### Real-Life Example: phonebook
Imagine you have a phonebook where the phone numbers of your friends are stored. This phonebook can be thought of as a dictionary in Python, where names are the keys and phone numbers are the values.

In [376]:
#example:
phonebook = {'Ali': '123-456', 'Sara': '987-654', 'Mina': '555-123'}
phonebook['Reza'] = '444-999'  # Adding a new phone number
del phonebook['Sara']  # Deleting Sara's number
phonebook

{'Ali': '123-456', 'Mina': '555-123', 'Reza': '444-999'}

#### Funny Example: common mistakes

Letâ€™s say you have a dictionary of common mistakes where each mistake is described with a funny note:

In [378]:
mistakes = {
    'Typo': 'Writing "teh" instead of "the".',
    'Mispronunciation': 'Saying "aks" instead of "ask".',
    'Misunderstanding': 'Thinking that "bored" and "board" are the same.'
}

# Searching for a mistake
print(mistakes['Typo'])  # Output: Writing "teh" instead of "the".

Writing "teh" instead of "the".

### Conceptual Questions

1. Which are the principal data types in Python?
2. What is the difference between a list and a tuple? When would you use each
one?

3. How do you test if an element is inside a list?
4. What is a dictionary?
5. What data type can be used as a key in a dictionary?
6. What is a â€œdictionary viewâ€?
7. Can you iterate over an unordered sequence?
8. Sort the data types below according to the following criteria:
â€¢ Mutableâ€“immutable
â€¢ Sortedâ€“unsorted
â€¢ Sequenceâ€“mapping
Data types to sort: lists, tuples, dictionaries, sets, strings.
9. How do you convert any iterable data type into a list?
10. How do you create a dictionary from a list?
11. How do you create a list from a dictionary?
12. Is a dictionary iterable in Python?

### Coding Exercises

#### 1- Working with Genetic Sequences (Lists):
Imagine you have a list of genetic sequences (DNA fragments) in a study. Write a program to:
- Store a list of DNA fragments.
- Add a new fragment to the list.
- Remove a fragment if it's not needed anymore.
- Retrieve a specific DNA fragment by its index.
Example DNA fragments list: ['ATCG', 'GCTA', 'CG']

#### 2-Creating a Dictionary for Plant Species (Dictionaries):
You are working on a biology project to catalog different plant species. Each species has an associated common name and its scientific classification. You need to:
- Create a dictionary where the key is the plant species' scientific name and the value is its common name.
- Add a new entry to the dictionary.
- Modify the common name for a given species.
- Retrieve the common name using the scientific name.
Example dictionary: {'Quercus robur': 'English Oak', 'Pinus sylvestris': 'Scots Pine'}